<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<header>
    <h1>MR Online Dress Materials</h1>
    <div class="container-right">
        <ul>
          <li><a href="#" routerLink="home"><i class="fa fa-home" aria-hidden="true"></i></a></li>
          <li><a href="#" routerLink="men">MEN</a></li>
          <li><a href="#" routerLink="women">WOMEN</a></li>
          <li><a href="#" routerLink="kid">KID</a></li>
          <li><a href="#" routerLink="cart">Cart  <i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</header>
